.app-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: cornflowerblue;
}

.item {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
